<form method="post" action="{{ path('xgsb_bo_menu_delete', {'id': menu.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ menu.id) }}">
    <button class="btn btn-danger"><span class="icon-delete"></span> Supprimer</button>
</form>
