{% extends 'xgsb/bo/layout.html.twig' %}

{% block title %}Nouveau Menu - XGSB Backoffice{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1>Créer nouveau menu</h1>
        </div>
        <div class="card-body">
            {{ include('xgsb/bo/menu/_form.html.twig') }}
        </div>
        <div class="card-footer">
            <a href="{{ path('xgsb_bo_menu_index') }}" class="btn btn-dark">
                <span class="icon-chevron-left"></span> Retour à la liste
            </a>
        </div>
    </div>
{% endblock %}
