{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">
        <span class="icon-floppy-disk"></span> {{ button_label|default('Sauvegarder') }}
    </button>
{{ form_end(form) }}
