{% extends 'xgsb/bo/layout.html.twig' %}

{% block title %}XGSB Backoffice - Nouveau Type Module {% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>Nouveau Type Module</h1>
    </div>
    <div class="card-body">
        {{ include('xgsb/bo/type_module/_form.html.twig') }}
    </div>
    <div class="card-footer">
        <a href="{{ path('xgsb_bo_type_module_index') }}" class="btn btn-dark">
            <span class="icon-chevron-left"></span> Retour à la liste
        </a>
    </div>
</div>
{% endblock %}
