{% extends 'base.html.twig' %}

{% block title %}New TypeModule{% endblock %}

{% block body %}
    <h1>Create new TypeModule</h1>

    {{ include('xgsb/bo/type_module/_form.html.twig') }}

    <a href="{{ path('app_x_g_s_b_b_o_type_module_index') }}">back to list</a>
{% endblock %}
