<form method="post" action="{{ path('xgsb_bo_page_delete', {'id': page.id}) }}" class="d-flex"
      onsubmit="return confirm('Etes vous sur de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ page.id) }}">
    <button class="btn btn-danger align-self-center">
        <span class="icon-delete-outline"></span> Supprimer
    </button>
</form>