<div class="module-imgtext">
    {% if image is empty %}
        {{ text|raw }}
    {% else %}
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-4 col-xl-3 {% if imagePosition=='right' %}order-2{% endif %}">
                <img src="{{ asset(image) }}" class="img-fluid" alt="" />
            </div>
            <div class="col-12 col-lg-8 col-xl-9 {% if imagePosition=='right' %}order-1{% endif %}">
                {{ text|raw }}
            </div>
        </div>
    {% endif %}
</div>