{% extends 'xgsb/fo/layout.html.twig' %}

{% block title %}Login - Paroisse de Méru{% endblock %}

{% block body %}
    <div class="container pb-5">
        <div class="row justify-content-center g-0">
            <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
                {{ include('xgsb/form/_formlogin.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}