{% extends 'xgsb/fo/layout.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <h1>Bienvenue</h1>
    <a href="{{ path("xgsb_bo_home") }}" class="btn btn-primary">Ceci est un test</a>
{% endblock %}
